*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

.siteTitle{
    color: #840032;
    font-size: 3rem;
    margin-right: 2vw;
    font-family: 'Fredoka One', Helvetica, sans-serif;
}

.orange{
    color: #E59500;
}

.mainContainer{
    display: flex;
    flex-flow: row; 
    justify-content: center;
    align-items: center;
    background-color: #FFE4AD;
    width: 100vw;
    height: 100vh; 
}

.colContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-height: 50%;
    height: fit-content; 
}

.formContainer{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 100%; 
    min-height: 80%;
    height: fit-content; 
    position: relative; 
}

form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.formContainer h1{
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: 600;
    margin-left: 10%;
    font-size: 2rem;
    align-self: flex-start;
}

.formContainer label, .message{
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: 400; 
    font-size: 1.1rem;
}

.formContainer .entryInput{
    width: 60%;
    height: 1.8rem;
}

.submitBtn{
    align-self: center;
    padding: 5px;
    font-size: 2rem;
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: 600;
    border: none;
    background: none;
}

.submitBtn:active{
    border: none;
    background: none;
    outline: none;
}
.submitBtn:focus{
    border: none;
    background: none;
    outline: none;
}
.submitBtn:hover{
    color: #840032;
}


.signinLink{
    margin-top: 1rem;
}

/* Adjustments for small screens */
@media only screen and (max-width: 700px){
    .colContainer{
        width: 65%; 
    }

   
}

@media only screen and (max-height: 812px){
    .formContainer{
        height: fit-content;
        min-height: 50vh; 
    }

    .submitBtn{
        font-size: 3vh; 
    }
    
    .formContainer h1{
        font-family: 'Baloo Tammudu 2', sans-serif;
        font-weight: 600;
        margin-left: 10%;
        font-size: 4vh;
        align-self: flex-start;
    }

    .formContainer label, .message{
        font-family: 'Baloo Tammudu 2', sans-serif;
        font-weight: 400; 
        font-size: 2vh;
    }

    .formContainer .entryInput{
        width: 60%;
        height: 3vh;
    }
}

